--extra-index-url https://download.pytorch.org/whl/cu126
cryptography==44.0.2
dash==3.0.2
grad-cam==1.5.5
h5py==3.13.0
lifelines==0.30.0
matplotlib==3.10.0
numpy==2.2.4
pandas==2.2.3
plotly==6.0.1
pyinstaller==6.12.0
scikit-learn==1.6.1
scikit-survival==0.24.1
scipy==1.15.2
seaborn==0.13.2
shap==0.47.1
sierraecg==0.4.0
wandb==0.19.9
wfdb==4.3.0
xmltodict==0.14.2
torch
torchvision
torchaudio
